/* .customBtn {
    position: relative;
    top: 27px;
    
    width: 99px;
    height: 40px;
    opacity: 1;
    color: #ffffff;
    font-family: 'Rubik-Regular';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
  } */